:root {
	--background: midnightblue;
	--text: white;
	--header: steelblue;
	--link: deepskyblue;
	--link-hover: cyan;
	--card: darkslateblue;
	--nav: cornflowerblue;
}

body {
	background-color: var(--background);
	font-family: "Exo 2", sans-serif;
	color: var(--text);
	margin: 10px;
}

main {
	padding: 30px;
}

header {
	background-color: var(--header);
	padding: 30px;
	text-align: center;
}

footer {
	text-align: center;
}

nav {
	display: flex;
	gap: 10px;
	justify-content: center;
	padding: 20px;
	background-color: var(--nav);
}

a {
	color: var(--link);
	text-decoration: none;
	transition: 0.2s;
}

a:hover {
	opacity: 0.7;
	transform: scale(1.1);
	text-decoration: underline;
}

a:focus-visible {
	outline: 2px solid var(--link);
	outline-offset: 4px;
}

.projects {
	display: flex;
	gap: 20px;
	text-align: center;
	flex-wrap: wrap;
}

.project-card {
	background-color: var(--accent);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px black;
}
